name: CI

on:
  pull_request:
    branches: ["main"]
  workflow_dispatch: # for 실습

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "temurin"
          java-version: "17"
          cache: "gradle"

      - name: Build & Test
        run: |
          chmod +x gradlew
          ./gradlew build --no-daemon
        env:
          SPRING_DATASOURCE_URL: "jdbc:h2:mem:lunch;MODE=MySQL"
          SPRING_DATASOURCE_DRIVER_CLASS_NAME: "org.h2.Driver"
          SPRING_JPA_DATABASE_PLATFORM: "org.hibernate.dialect.H2Dialect"
          SPRING_JPA_HIBERNATE_DDL_AUTO: "create"
          SPRING_FLYWAY_ENABLED: "false"